    /* Homepage css */
.navbar {
    background-color: #5555554D;  
    padding: 10px ;
    height: 35px;
}

a.logo {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: white; 
    position: relative;
    left: 5%;
    text-decoration: none; 
}

body {
    word-spacing: 5px;
    margin: 0;
    padding: 0;
    background-color: #417ADA; 
    color: white; 
}

.building {
    position: absolute;
    left: 20%;
    top: 25%; 
    width: 500px;
    height: auto; 
    z-index: 1;
 
}

.desc1{
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 10%;
    right: 15%;
    text-align: right; 
    padding-top: 50px;
}

.desc1 h1{
    font-size: 30px;
    margin-bottom: 3%;
}

.desc1 p{
    font-size: 15px;
    margin-top: 0; 
    padding-bottom: 35px;
}

a.register_btn {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    padding: 15px 50px;
    position: relative;
    left: 10%;
    border-radius: 50px; 
    cursor: pointer;
    font-size: 16px; 
    margin: 70px 20% 5% 0;
    text-decoration: none; 
}

a.contact_btn {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    background-color: #417ADA;
    color: white; 
    border: white 1px solid;
    padding: 15px 40px;
    border-radius: 50px; 
    cursor: pointer; 
    font-size: 16px; 
    position: relative;
    margin-top: 20px; 
    margin-bottom: 193px;
    text-decoration: none; 
    display: inline-block; 
}

.register_btn:hover {
    background-color: #f7f7f7b4; 
    color: #000000; 
}

.contact_btn:hover {
    background-color: #0d244d;
    color: #ffffff;
}

hr {
    border: none;
    height: 1px; 
    background-color: #ccc; 
    margin: 20px 0;
    z-index: 2;
}
        /* Login  css */
.login-section {
    position: fixed; 
    top: 130px; 
    right: 120px; 
    background-color: rgba(255, 255, 255, 0.2); 
    padding: 50px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); 
    width: 250px;
}

.login-section h2 {
    margin: 0 0 10px;
}

.login-section label {
    display: block; 
    margin: 10px 0 5px; 
}

.login-section input {
    width: 100%; 
    padding: 10px; 
    border: none;
    border-radius: 4px; 
}

.login-section button {
    width: 50%;
    padding: 10px;
    margin-top: 10px; 
    margin-left: 28%;
    background-color: #333; 
    color: white;
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.login-section button:hover {
    background-color: #555; 
}

.tagline {
    position: fixed;
    bottom: 90px;
    right: 180px;
}

        /* Footer  css */
.footer {
    background-color: #000000; 
    color: white; 
    padding: 5px 0; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
}